/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lucida Blackletter Regular';
    src: local('Lucida Blackletter Regular'),
      url('@/assets/fonts/Lucida Blackletter Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
}
